@model IEnumerable<BootCampDB_App.Models.Interviewer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Interviewer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GCM_Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Interviewer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GCM_Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager_Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DasId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DasId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DasId })
        </td>
    </tr>
}

</table>
